.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainCount{
    font-size: 75px;
}

.description{
    font-size: 18px;
    margin-bottom: 7px;
}

.primaryBtn{
    cursor: pointer;
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.25rem;
    font-weight: 900;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
}

.inputNum{
    font-size: 1.4rem;
    border: 1px solid black;
    border-radius: 4px;
}

.secondaryBtn{
    border: 1px solid black;
    border-radius: 4px;
    background: transparent;
    font-size: 0.85rem;
}
